// Fonts Family
$font-en-montserrat: "Montserrat", sans-serif;
$font-en-primary: $font-en-montserrat;



// COLOR
$color-primary: #ff7542;
$color-secondary: #4b378d;
$color-accent: #1aa4e0;
$color-warn: #d83333;
$color-white: #ffffff;

// Container
$container-max-width: 1440px;
