
<app-first-section></app-first-section>
<app-contact-us></app-contact-us>
<app-products lazyLoadComponent (lazyLoad)="loadNextComponent('sec1')"></app-products>

<ng-container *ngIf="checkComponentLoad('sec1')">
  <app-single-api lazyLoadComponent (lazyLoad)="loadNextComponent('sec2')"></app-single-api>
</ng-container>


<ng-container *ngIf="checkComponentLoad('sec2')">
  <app-products-2 lazyLoadComponent (lazyLoad)="loadNextComponent('sec3')" [img]="'https://ftp.tee.com.bd/upload/images/untitled-2-4f21-8ec7.webp?resolution=1212_842'" [page]="1"></app-products-2>
</ng-container>

<ng-container *ngIf="checkComponentLoad('sec3')">
  <app-products-2 lazyLoadComponent (lazyLoad)="loadNextComponent('sec4')" [img]="'https://ftp.tee.com.bd/upload/images/bangla-d4a8-a58b.webp?resolution=800_600'" [page]="1"></app-products-2>
</ng-container>

<ng-container *ngIf="checkComponentLoad('sec4')">
  <app-products-2 lazyLoadComponent (lazyLoad)="loadNextComponent('sec5')" [img]="'https://ftp.tee.com.bd/upload/images/5pz9zcqgsii-hd-63e2.webp?resolution=1280_720'" [page]="1"></app-products-2>
</ng-container>

<ng-container *ngIf="checkComponentLoad('sec5')">
  <app-products-2 lazyLoadComponent (lazyLoad)="loadNextComponent('sec6')" [img]="'https://ftp.tee.com.bd/upload/images/4wkfayow0vs-hd-91e0.webp?resolution=1280_720'" [page]="1"></app-products-2>
</ng-container>

<ng-container *ngIf="checkComponentLoad('sec6')">
  <app-products-2 [img]="'https://ftp.tee.com.bd/upload/images/9zdynug-ec0-hd-16e9.webp?resolution=1280_720'" [page]="1"></app-products-2>
</ng-container>
