<div class="content">
  @for (data of products; track data._id; let i = $index) {
  <div class="card">

    <div class="imgBox">
      <img [ngSrc]="data?.bannerImage | imgCtrl : 'filename'"
           [ngSrcset]="rawSrcset"
           [width]="data?.bannerImage | imgCtrl : 'width'"
           [height]="data?.bannerImage | imgCtrl : 'height'"
           sizes="(max-width: 768px) 100vw, 10vw"
           [alt]="data.name" class="mouse">
    </div>

    <div class="contentBox">
      <h3>{{data.name}} {{i}}</h3>
        <h2 class="price">{{data.salePrice}} €</h2>
        <a href="#" class="buy">Buy Now</a>
      </div>

    </div>
  }

</div>
